VPN_SERVER=sonicwall.vpn.gateway
VPN_REALM=realm
VPN_USER=username
VPN_PASS=password

# Root CA fingerprint. Use * to allow any value
VPN_FINGERPRINT=01:23:45:67:89:AB:CD:EF:01:23:45:67:89:AB:CD:EF:01:23:45:67

# Enable debug mode
VPN_DEBUG=y
